tcs_manager_system/HELP.md
tcs_manager_system/.gradle
tcs_manager_system/build/

## Ignore git frontend repo, is just to manage its own commits
tcs_manager_frontend/.git
tcs_manager_frontend/.gitignore
tcs_manager_frontend/node_modules/

!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
tcs_manager_system/.apt_generated
tcs_manager_system/.classpath
tcs_manager_system/.factorypath
tcs_manager_system/.project
tcs_manager_system/.settings
tcs_manager_system/.springBeans
tcs_manager_system/.sts4-cache
tcs_manager_system/bin/
