proyecto_IV_system/HELP.md
proyecto_IV_system/.gradle
proyecto_IV_system/build/

## Ignore git frontend repo, is just to manage its own commits
proyecto_IV_frontend/.git
proyecto_IV_frontend/.gitignore

!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
proyecto_IV_system/.apt_generated
proyecto_IV_system/.classpath
proyecto_IV_system/.factorypath
proyecto_IV_system/.project
proyecto_IV_system/.settings
proyecto_IV_system/.springBeans
proyecto_IV_system/.sts4-cache
proyecto_IV_system/bin/
